# HashKey Chain
NEXT_PUBLIC_CHAIN_ID=133
NEXT_PUBLIC_RPC_URL=https://testnet.hsk.xyz
NEXT_PUBLIC_EXPLORER_URL=https://testnet-explorer.hsk.xyz

# WalletConnect (get from cloud.walletconnect.com)
NEXT_PUBLIC_WC_PROJECT_ID=

# Veilex Contract Addresses (fill after deploying veilex-contracts)
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_VAULT_ADDRESS=
NEXT_PUBLIC_PRIVATE_VAULT_ADDRESS=
NEXT_PUBLIC_STEALTH_REGISTRY_ADDRESS=
NEXT_PUBLIC_COMPLIANCE_ADDRESS=
NEXT_PUBLIC_PYTH_ADAPTER_ADDRESS=

# Pyth
NEXT_PUBLIC_PYTH_HERMES_URL=https://hermes.pyth.network
